.contentWrap {
  text-align: center;
  .bannerWrap {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3.84px;
  }

  .desc {
    color: #adadad;
    text-align: center;
    font-family: Baghdad;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px;
    max-width: 600px;
  }
  .downloadWrap {
    text-align: center;
    .downloadBtn {
      color: #fff;
      text-align: center;
      font-size: 28px;
      border-radius: 5px;
      background: #2a2a2a;
      width: 178px;
      height: 65px;
      line-height: 65px;
    }
  }
  .createWrap {
    height: 510px;
    background-color: #e3e3e3;
  }
}

@media screen and (max-width: 1200px) {
  .contentWrap {
    .desc {
      max-width: 500px;
    }

    .downloadWrap {
      .downloadBtn {
        font-size: 20px;
        width: 119px;
        height: 50px;
        line-height: 50px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .contentWrap {
    .createWrap {
      height: 730px;
      font-size: 20px;
    }
    .desc {
      min-width: 342px;
      font-size: 18px;
    }
  }
}
