.headerWrap {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 22px;
  .headerBox {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mediaWrap {
    display: flex;
    gap: 22px;
  }
}
